<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/admin-base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This isS home page</title>
</head>
<body>
<section>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form th:action="@{/admin/cars/year/add}" method="post" th:object="${year}">
                <input type="hidden" name="id"  th:field="*{id}">
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="number" class="form-control" required th:field="*{year}" name="year" id="year"  placeholder="Enter year">

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</section>
</body>
</html>