<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="base::layout(~{::section})">

<body>
<section class="">
	<div class="container min-vh-100">
		<h1 class="text-center p-1">ABOUT US</h1>
		<div class="row">
			<div class="col-sm-12 col-lg-8">
				<p class="border p-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Tenetur deserunt eum unde, quaerat quam nihil possimus, veritatis
					repellat sapiente quibusdam nesciunt praesentium facilis? Hic nam
					illum eaque recusandae accusantium dolorem ducimus, quia dolorum
					qui laborum sequi error optio sapiente, nihil commodi aliquid
					cupiditate perspiciatis necessitatibus assumenda voluptatem! Sunt
					sequi error deserunt quos ducimus eum neque repudiandae molestias
					maxime, iusto minima rerum blanditiis molestiae voluptatem, ut
					quaerat sapiente. Consequatur ducimus cumque hic quaerat corrupti
					sed in dolores, incidunt eos, inventore et voluptate dolore,
					assumenda nostrum omnis. Natus, harum. Rerum, possimus, facilis
					cupiditate officia cumque vel nobis alias accusantium deleniti
					minus ipsam fugiat qui provident molestias labore molestiae ad
					blanditiis quia animi distinctio. Hic esse quia repudiandae quos
					recusandae, sapiente, earum consequatur excepturi blanditiis nisi,
					doloribus ratione modi aliquid commodi illum fugit eum sit debitis
					quae nostrum dicta aut nam dolores accusamus? Necessitatibus, vitae
					repellat maiores tenetur culpa eum tempora laborum veritatis unde
					accusantium error porro quis dolore vel laboriosam earum nulla esse
					eligendi? Id commodi sit ad fugiat, necessitatibus error ea atque
					omnis, magnam, vel labore dolorem cupiditate! Id explicabo nesciunt
					ad veniam dolores dolorum velit expedita distinctio reprehenderit!
					Explicabo, doloribus maiores iusto corporis placeat natus dolorem
					ullam officia culpa odit?</p>
			</div>
			<div class="col-4">
			<img alt="" class="align-self-center mt-1"
			th:src="@{/img/about-us.png}" width="180%"  height="95%">
			
			</div>
		</div>
	</div>
			<footer class="mt-auto"  th:replace="footer::footer1"></footer>
</section>


</body>
</html>